<footer class="footer-distributed">
  <div class="footer-left">
    <img class="company-logo" src="assets/images/logo.png">
    <div class="footer-icons">
      <a href="https://facebook.com/LightPathBolivia" target="_blank" ><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/LightPathIO" target="_blank" ><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/lightpathbolivia" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/LightPathIO" target="_blank" ><i class="fa fa-github"></i></a>
    </div>
    <p class="footer-company-name">Powered by Lightpath&copy; 2016</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-external-link"></i>
      <p><a href="http://lightpath.io" target="_blank">lightpath.io</a></p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+591 73254654</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">info@lightpath.io</a></p>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-company-about">
      <span>Acerca de LightPath</span>
      <p>LightPath es un equipo dinámico de profesionales que trabaja con el objetivo de hacer que tu negocio siga creciendo. </p>
      <p>Utilizamos las herramientas precisas en desarrollo web y móvil para traer un mundo de beneficios a tu compañía.</p>
    </div>
  </div>
</footer>
